<div class="page-header">
  <h1>All Ideas</h1>
</div>

<div class="row">
  <% @ideas.each do |idea| %>

      <div class="col-sm-6 col-md-4">
        <img src="..." alt="...">

        <div class="caption">
          <h3><%= link_to idea.content, idea %></h3>
          <p><%= idea.description %></p>
          <p><%= link_to '...', idea, class: "btn btn-primary" %></p>
        </div>

      </div>

  <% end %>
</div>
